html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
}

header {
    width: 100%;
    background-color: black;
    text-align: left;
}

header ul {
    float:right;
    color: white;
}

header li {
    padding: 10px 15px 0;
    display: inline-block;
    
}

.intro{
    padding-left: 50px;
}

#welcome {
    font-size: 40px;
    font-family: montserrat;
    font-weight: 10px;
}

#description {
    font-size: 24px;
    font-family: montserrat;
    font-style: bold;
}
#introParagraph {
    font-size: 16px;
    font-family: montserrat;
    font-style: bold;
    width: 700px;
}

.content{
    padding: 10px;
    display: grid;
    grid-template-rows: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "picture mySkills";


}

#mySkills{
    grid-area: mySkills;
    display: flex;
    justify-content: center;
    letter-spacing: 0.2em;
}

.footer {
    background-color:black;
    padding: 10px;
    color: white;
    position: relative;
    bottom:0;
    width:100%;
    height:200px;  
   
}

.profile{
    width: 500px;
    padding: 25px 100px;
    grid-area: picture;

    
}

.aboutMe {
    height:100%;
    background-color: black;
    color: white;
    
 }
 .container {
    position:relative;
    font-family: montserrat;
 }

 .myWork {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "travel annarose hair";
}

 .TravelApp {
     width: 500px;
     font-size: 24px;
     grid-area: travel;
     padding: 20px;
     text-align: center;
 }

 .AnnaRose {
    width: 500px;
    font-size: 24px;
    grid-area: annarose;
    padding: 20px;
    text-align: center;
}

.HairApp {
    width: 500px;
    font-size: 24px;
    grid-area: hair;
    padding: 20px;
    text-align: center;
}
 .myWorkImg {
     width: 500px;
 }

 a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active #readMore {
    color: tan;
  }
 

 @media only screen and (max-width: 700px){
    .myWork{
        min-height: 1622px;
    grid-gap: 187px;
    grid-template-areas: "travel"
                 "annarose" 
                 "hair";
    }
    .myWork div {
        min-height: 200px;
    }
 }

